<div class="home row">
  <div
    class="col-6 col-md-6 d-flex flex-column justify-content-center align-items-start px-5 quiz-completion-text"
  >
    <p class="completed-title">You’ve completed your quiz</p>
    <p class="completed-subtitle">
      We really appreciate that you took the time to log the answers to this
      quiz to the console as a JavaScript object!
    </p>
    <button class="btn" (click)="navigateToHome()">
      Take me to your leader
    </button>
  </div>
  <div
    class="col-6 col-md-6 d-flex justify-content-center align-items-center image-wrapper"
  >
    <img src="header-main.svg" alt="Header" class="hexagon-img" />
  </div>
</div>
