<div class="home ">
    <div class="col-sm-5 col-12 position-relative image-wrapper">
      <div class="background-img">
        <img src="background.svg" alt="Background" class="bg-img">
      </div>
      <div class="hexagonal-img"><img src="header-main.svg" alt="Header" class="header-img" ></div>
    </div>
    <div class="col-sm-7 col-12 d-flex flex-column justify-content-center align-items-left p-4">
      <p>Let’s get started filling out your profile</p>
      <p>The best way for us to get you the right kind of help is to know you as well as possible.</p>
      <button class="btn" routerLink="/quiz">Start</button>
    </div>
  </div>
  